<footer class="footer">
    <div class="container">
        <div class="header__inner">
            <div class="header-logo">
                <img src="assets/images/icon/logo.svg" alt="">
            </div>
            <nav class="nav">
                <li class="nav__item"><a href="" class="nav__link">Каталог</a></li>
                <li class="nav__item"><a href="" class="nav__link">Доставка</a></li>
                <li class="nav__item"><a href="" class="nav__link">Оплата</a></li>
                <li class="nav__item"><a href="" class="nav__link">Контакты</a></li>
                <li class="nav__item"><a href="" class="nav__link">О галерее</a></li>
            </nav>
            <div class="contact">
                <div class="contact__number">
                    <img class="contact__img" src="assets/images/icon/phone.svg" alt="">
                    +7 (495) 555-55-55
                </div>
                <div class="contact__address">
                    <img class="contact__img" src="assets/images/icon/location.svg" alt="">
                    г. Москва, ул. Расплетина, 24
                </div>
            </div>
        </div>
    </div>
</footer>
