<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header-logo">
                <img src="assets/images/icon/logo.svg" alt="">
            </div>
            <nav class="nav">
                <li class="nav__item"><a href="" class="nav__link">Каталог</a></li>
                <li class="nav__item"><a href="" class="nav__link">Доставка</a></li>
                <li class="nav__item"><a href="" class="nav__link">Оплата</a></li>
                <li class="nav__item"><a href="" class="nav__link">Контакты</a></li>
                <li class="nav__item"><a href="" class="nav__link">О галерее</a></li>
            </nav>
            <div class="header-form">
                <form>
                    <input  class="input" type="text" placeholder="Поиск по названию картины...">
                    <button class="btn" type="submit">Найти</button>
                </form>
            </div>
        </div>
    </div>
</header>
